<%= render :partial => "servers/server_menubar" %>
<h1>Server - New: Interface</h1>
<br/>

<%= render :partial => "server_interfaces/form" %>

<hr/>
<br/>
<h2>Server: <%=h @server.name %></h2>
<%= render :partial => "servers/server_infos" %>