<p>
  <b>Network:</b>
  <%=h @network.network %>
</p>

<p>
  <b>Comment:</b>
  <%=h @network.comment %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
