<h1>Settings</h1>

<ul>
      <li><%= link_to "Server Types", servertypes_path %></li>
      <li><%= link_to "IP Types", iptypes_path %></li>
      <li><%= link_to "Server Operation Systems", serveroperationsystems_path %></li>
			<li><%= link_to "Puppet Configuration Keys", configkeys_path %></li>
		
</ul>