<%= render :partial => "serverytpe_menubar" %>
<h1>Servertype - Show: <%=h @servertype.name %></h1>
<br/>

<table>
	<tr>
		<td>Name:</td>
		<td><%=h @servertype.name %></td>
	</tr>
	<tr>
		<td>Hardware:</td>
		<td><%=h @servertype.server_type_hardware.name %></td>
	</tr>
</table>