<%= render :partial => "domains/menubar" %>
<h1>Show: <%=h @domain.name %></h1>
<br/>
<% if @domain.getMaster == nil %>
<div style="border-color:red;border-style:dotted;font-weight:bold;">
  Warning: No Master Nameserver for this Domain configured!
</div><br/>
<% end %>
<% if @domain.hasSOA? == false %>
<div style="border-color:red;border-style:dotted;font-weight:bold;">
  Warning: No SOA Record found for this Domain!
</div><br/>
<% end %>

<%= render :partial => "domains/domain_infos" %>

<br/><br/>
<h2>Servers in Domain</h2>
<% @servers = @domain.servers %>
<%= render :partial => "servers/server_index" %>