<div style="font-weight:bold; font-size:14pt;">Server SSH Users</div>

<% @sshusers_servers.each do |server| %>
    <%= render :partial => "sshusers/users_server", :locals => { :server => server, :type => 'server' } %>
<% end %>

<div style="margin-top:20px;margin-bottom:20px;">
  <%= link_to "New SSH User for an Server", new_sshuser_path(:ajax_for => 'server'), :remote => true %>
</div>

<div style="font-weight:bold; font-size:14pt;">Server Groups SSH Users</div>

<% @sshusers_servergroups.each do |servergroup| %>
    <%= render :partial => "sshusers/users_server", :locals => { :server => servergroup, :type => 'servergroup' } %>
<% end %>

<div style="margin-top:20px;margin-bottom:20px;">
  <%= link_to "New SSH User for an Server Group", new_sshuser_path(:ajax_for => 'server_group'), :remote => true %>
</div>