<p>
  <b>Name:</b>
  <%=h @server_group.name %>
  <% if @server_group.server_group_members.count > 0 %>
    <% @server_group.server_group_members.each do |m| %>
    Foo: <%= link_to "#{m.server.fqdn}", m.server %>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_server_group_path(@server_group) %> |
<%= link_to 'Back', server_groups_path %>
