<table style="border: 0px solid #FFFFFF;">
  <% @sshkey_groups.each do |sshkeygroup| %>
    <tr>
      <td style="border: 0px solid #FFFFFF;"><%= sshkeygroup.name %></td>
      <td style="border: 0px solid #FFFFFF;"><%= image_tag("edit.png") %></td>
      <td style="border: 0px solid #FFFFFF;"><%= link_to image_tag("cancel.png"), sshkeygroup, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
    </tr>
  <% end %>
</table>