<h1>Server Macs</h1>

<table>
  <tr>
    <th>Mac</th>
    <th>Server</th>
  </tr>

<% for servermac in @servermacs %>
  <tr>
    <td><%=h servermac.mac %></td>
    <td><%= link_to servermac.server.fqdn, servermac.server %></td>
    <td><%= slink_to 'server_mac', 'macs_show', 'Edit', edit_server_mac_path(servermac.server_id,servermac) %></td>
    <td><%= slink_to 'server_mac', 'macs_show', 'Destroy', server_mac_path(servermac.server_id,servermac), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

